<div class="container">
  <article class="post-entry" *ngIf="videoPost">
    <header>
      <h1>{{videoPost.videoTitle}}</h1>
      <p>
        <i class="fa fa-calendar"></i> Recorded: {{videoPost.recordingDate | date:'medium'}}
        <a routerLink="/user/{{videoPost.user}}"><i class="fa fa-user"></i> {{videoPost.user}}</a>
        <i class="fa fa-map-marker"></i> {{videoPost.locationName}}
      </p>
    </header>
    <div class="row">
      <video controls loop controlsList="nodownload" poster="http://localhost:8080/api/files/{{videoPost.id}}/thumbs.jpg">
        <source src="http://localhost:8080/api/files/{{videoPost.id}}/video.mp4" type="video/mp4" />
        Browser not supported
      </video>
    </div>
    <div class="row">
      <button (click)="onClickDownloadButton()" id="download" class="btn btn-primary btn-info float-xs-right">
        <i class="fa fa-download"></i>
        Download original video file</button>
    </div>
    <div class="row">
      <div *ngIf="authError" class="alert alert-danger" role="alert">Please <a href="login">log in</a> to perform this action</div>
    </div>
    <div class="row">
      <pre>{{videoPost.description}}</pre>
    </div>
    <div class="form-group row">
      <div class="col">
        <label for="exampleTextarea">Does this video show a UFO?</label>
      </div>
      <div class="col">
        <button type="button" class="btn btn-outline-success">Yes</button>
        <button type="button" class="btn btn-outline-danger">No</button>
      </div>
      <textarea class="form-control" id="exampleTextarea" rows="4" placeholder="What is your opinion about the video?"></textarea>
      <button type="submit" class="btn btn-primary">Add your opinion...</button>
    </div>
    <h3 class="text-center"><i class="fa fa-comments-o"></i> Opinions</h3>

    <div class="row">
      <div class="col-xs-3 margin-top-10"><span class="commenting pull-right btn btn-lg btn-success">Yes</span></div>
      <div class="progress margin-top-20 col-xs-6 no-padding-left no-padding">
        <div class="progress-bar progress-bar-success progress-yes" role="progressbar" style="width: 44.4%;">44.4%</div>
        <div class="progress-bar progress-bar-danger progress-no" role="progressbar" style="width: 55.6%;">55.6%</div>
      </div>
      <div class="col-xs-3 margin-top-10"><span class="commenting btn btn-lg btn-danger">No</span></div>
    </div>



    <div class="row" *ngFor="let opinion of opinions">
      <div class="container">
        <div class="row">
          <div class="col-sm-5">
            <div class="panel panel-default" *ngIf="(this.opinionState[opinion.opinionState] == opinionState.YES)">
              <div class="panel-heading">
                <strong>{{opinion.username}}</strong> <span class="text-muted">commented {{timeSince(opinion.date)}} ago</span>
              </div>
              <div class="panel-body">
                {{opinion.text}}
              </div><!-- /panel-body -->
            </div><!-- /panel panel-default -->
          </div><!-- /col-sm-5 -->

          <div class="col-sm-5">
            <div class="panel panel-default" *ngIf="this.opinionState[opinion.opinionState] == opinionState.NO">
              <div class="panel-heading">
                <strong>{{opinion.username}}</strong> <span class="text-muted">commented {{timeSince(opinion.date)}} ago</span>
              </div>
              <div class="panel-body">
                {{opinion.text}}
              </div><!-- /panel-body -->
            </div><!-- /panel panel-default -->
          </div><!-- /col-sm-5 -->
        </div><!-- /row -->
      </div><!-- /container -->
    </div>
  </article>
</div>

