<section class="about-ufoid">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="director-title">Video</h2>
      </div>
    </div>
  </div>
</section>
<section class="video">
  <div class="container">
    <div class="row">
      <article class="post-entry col-md-12" *ngIf="videoPost">
        <header>
          <h1 class="blue-title">{{videoPost.videoTitle}}</h1>
          <p class="author-info">
            <i class="fa fa-calendar"></i> Recorded: {{videoPost.recordingDate | date:'medium'}}
            <a class="recorded-person" routerLink="/user/{{videoPost.user}}"><i class="fa fa-user"></i> {{videoPost.user}}</a>
            <i class="fa fa-map-marker"></i> {{videoPost.locationName}}
            <i class="fa fa-star"></i> {{reputation}}
          </p>
        </header>
        <div class="col-md-12">
          <video controls loop class="video-detail" controlsList="nodownload" poster="{{API_URL}}files/{{videoPost.id}}/thumbs.jpg">
            <source src="{{API_URL}}files/{{videoPost.id}}/video.mp4" type="video/mp4" />
            Browser not supported
          </video>
        </div>
        <div class="row download-wrapper">
          <button (click)="onClickDownloadButton()" id="download" class="btn btn-primary btn-info float-xs-right">
            <i class="fa fa-download"></i>
            Download original video file</button>
        </div>
        <div class="row error-wrapper">
          <div *ngIf="authError" class="alert alert-danger" role="alert">Please <a href="login">log in</a> to perform this action</div>
        </div>
        <div class="row download-wrapper">
          <span>{{videoPost.description}}</span>
        </div>
      </article>
    </div>
  </div>
</section>
<section class="video-form">
  <div class="container">
    <div class="row form-wrapper">
      <div class="col-md-12">
        <div class="question-row">
          <label for="exampleTextarea" class="need-download">Does this video show a UFO?</label>
          <div class="btn-group" data-toggle="buttons">
            <label [ngClass]="{'btn': true, 'btn-outline-success': true}" (click)="onYesButtonClicked()">
              <input type="radio" name="options" id="option1" autocomplete="off">Yes
            </label>
            <label [ngClass]="{'btn': true, 'btn-outline-danger': true}" (click)="onNoButtonClicked()">
              <input type="radio" name="options" id="option2" autocomplete="off" >No
            </label>
          </div>
        </div>
        <textarea class="form-control" id="exampleTextarea" rows="6" placeholder="What is your opinion about the video?" [(ngModel)]="newOpinionText"></textarea>
        <button type="submit" class="btn btn-primary submit-opinion" (click)="addOpinion()">Add your opinion...</button>
        <div class="row">
          <div *ngIf="errorSavingOpinion" class="alert alert-danger" role="alert">{{errorSavingOpinionText}}</div>
        </div>
        <div class="row">
          <div *ngIf="errorSavingOpinionNotLoggedIn" class="alert alert-danger" role="alert">Please <a href="login">log in</a> or <a href="signup">register</a> to perform this action</div>
        </div>
        <div class="row">
          <div *ngIf="successSavingOpinion" class="alert alert-success" role="alert">Successfully added your opinion to the video</div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="option">
  <div class="container">
    <div class="row progress-wrapper">
      <h3 class="text-center blue-title progress-wrapper__title"><i class="fa fa-comments-o"></i> Opinions</h3>
        <div class="progress margin-top-20 col-xs-6 no-padding-left no-padding">
          <span class="commenting btn btn-lg btn-success">Yes</span>
          <div class="bg-success text-white progress-bar" [ngStyle]="{'width': progressBarWidth.yes + '%'}">{{progressBarWidth.yes | number:'1.2-2'}}%</div>
          <div class="bg-danger text-white progress-bar" [ngStyle]="{'width': progressBarWidth.no + '%'}">{{progressBarWidth.no | number:'1.2-2'}}%</div>
          <span class="commenting btn btn-lg btn-danger">No</span>
        </div>
    </div>
    <div class="row" *ngFor="let opinion of opinions">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <div class="panel panel-default" *ngIf="(this.opinionState[opinion.opinionState] == opinionState.YES)">
              <div class="panel-heading">
                <strong>{{opinion.username}}</strong> <span class="text-muted">commented {{timeSince(opinion.date)}} ago</span>
              </div>
              <div class="panel-body">
                {{opinion.text}}
              </div><!-- /panel-body -->
            </div><!-- /panel panel-default -->
          </div><!-- /col-sm-5 -->
          <div class="col-sm-6 mobile-option-no">
            <div class="panel panel-default" *ngIf="this.opinionState[opinion.opinionState] == opinionState.NO">
              <div class="panel-heading">
                <strong>{{opinion.username}}</strong> <span class="text-muted">commented {{timeSince(opinion.date)}} ago</span>
              </div>
              <div class="panel-body">
                {{opinion.text}}
              </div><!-- /panel-body -->
            </div><!-- /panel panel-default -->
          </div><!-- /col-sm-5 -->
        </div><!-- /row -->
      </div><!-- /container -->
    </div>
  </div>
</section>
<section class="option mobile-opinions">
  <div class="container">
    <div class="row progress-wrapper">
        <div class="progress margin-top-20 col-xs-6 no-padding-left no-padding">
          <span class="commenting btn btn-lg btn-success">Yes</span>
          <div class="bg-success text-white progress-bar" [ngStyle]="{'width': progressBarWidth.yes + '%'}">{{progressBarWidth.yes | number:'1.2-2'}}%</div>
          <div class="bg-danger text-white progress-bar" [ngStyle]="{'width': progressBarWidth.no + '%'}">{{progressBarWidth.no | number:'1.2-2'}}%</div>
          <span class="commenting btn btn-lg btn-danger">No</span>
        </div>
    </div>
    <div class="row" *ngFor="let opinion of opinions">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 mobile-option-yes">
            <div class="panel panel-default" *ngIf="(this.opinionState[opinion.opinionState] == opinionState.YES)">
              <div class="panel-heading">
                <strong>{{opinion.username}}</strong> <span class="text-muted">commented {{timeSince(opinion.date)}} ago</span>
              </div>
              <div class="panel-body">
                {{opinion.text}}
              </div><!-- /panel-body -->
            </div><!-- /panel panel-default -->
          </div><!-- /col-sm-5 -->
          <div class="col-sm-6">
            <div class="panel panel-default" *ngIf="this.opinionState[opinion.opinionState] == opinionState.NO">
              <div class="panel-heading">
                <strong>{{opinion.username}}</strong> <span class="text-muted">commented {{timeSince(opinion.date)}} ago</span>
              </div>
              <div class="panel-body">
                {{opinion.text}}
              </div><!-- /panel-body -->
            </div><!-- /panel panel-default -->
          </div><!-- /col-sm-5 -->
        </div><!-- /row -->
      </div><!-- /container -->
    </div>
  </div>
</section>

