<footer class="footer">
  <div class="footer__top">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="socials">
            <a href="#" routerLink="/" class="socials__link-logo">
              <img src="../../assets/white_logo.png" alt="logo" class="socials__link-img">
            </a>
            <ul class="socials__list">
              <li class="socials__item"><a href="#" class="socails__link"><i data-media-type="facebook" class="fa fa-facebook-square"></i></a></li>
              <li class="socials__item"><a href="#" class="socails__link"><i data-media-type="google" class="fa fa-google-plus"></i></a></li>
              <li class="socials__item"><a href="#" class="socails__link"><i data-media-type="twitter" class="fa fa-twitter"></i></a></li>
              <li class="socials__item"><a href="#" class="socails__link"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 navigation_wrapper">
          <div class="navigation">
            <h2 class="havigation__title">Navigation</h2>
            <ul class="navigation__list">
              <li class="navigation__item"><a href="#"  routerLink="/" class="navigation__link">Home</a></li>
              <li class="navigation__item"><a href="#"  routerLink="ufo-videos" class="navigation__link">Videos</a></li>
              <li class="navigation__item"><a href="#"  routerLink="software" class="navigation__link">UFO Detector</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <a href="#" class="copyright"> © 2015 - 2017 All Rights Reserved, UFOID.Net</a>
        </div>
        <div class="col-md-6">
          <ul class="terms">
            <li class="terms__item"><a href="#" class="terms__link">Privacy Policy</a></li>
            <li class="terms__item"><a href="#" class="terms__link">Terms & Conditions</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

