/* about section styles */

.about-ufoid {
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: rgb(72, 159, 217);
    background-image: url("../../../assets/analytics-graphic2.png"), radial-gradient(circle closest-corner at 70% 38%, rgb(72, 159, 217) 16%, rgb(84, 118, 224));
    background-size: cover, auto;
    color: white;
    text-shadow: rgba(0, 0, 0, 0.227451) 0px 1px 0px;
    background-position: 0% 23%, 0px 0px;
}

.ufoid-description__title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 38px;
    margin-bottom: 20px;
    text-shadow: none;
}

.ufoid-description__text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    text-shadow: none;
    margin-bottom: 20px;
}

.ufoid-description__list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

.ufoid-description__link {
    display: inline-block;
    margin-right: 14px;
    padding-top: 13px;
    padding-right: 23px;
    padding-bottom: 13px;
    padding-left: 23px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: rgb(42, 211, 226);
    transition-property: background-color, color;
    transition-duration: 300ms, 300ms;
    transition-timing-function: ease, ease;
    color: white;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    font-size: 16px;
}

.ufoid-description__link--signup {
    background-color: #76c5fa;
    transition: all .3s ease-in-out;
}

.ufoid-description__link--signup:hover {
    background-color: rgb(72, 159, 217);
    color: white!important;
    border-color: #8fcffa;
}

.ufoid-description__link--learn {
    background-color: transparent;
    box-shadow: white 0px 0px 0px 2px inset;
    color: white;
    text-shadow: none;
    transition: all .3s ease-in-out;
}

.ufoid-description__link--learn:hover {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 2px 1px 0px, white 0px 0px 0px 2px inset;
    color: rgb(72, 159, 217);
    text-shadow: none;
}

.login {
    padding: 70px 0;
}

.login-wrapper {
    flex-direction: column;
    align-items: center;
}

.blue-title {
    color: rgb(72, 159, 217);
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
}

.nav-link--login {
    margin-top: 11px;
    padding-top: 13px;
    padding-bottom: 13px;
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: rgb(72, 159, 217);
    border-right-style: solid;
    border-right-width: 2px;
    border-right-color: rgb(72, 159, 217);
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: rgb(72, 159, 217);
    border-left-style: solid;
    border-left-width: 2px;
    border-left-color: rgb(72, 159, 217);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: none;
    transform: translate(0px, 0px);
    transition-property: all;
    transition-duration: 300ms;
    transition-timing-function: ease;
    color: rgb(72, 159, 217)!important;
    cursor: pointer;
    background-color: transparent;
    min-width: 250px;
    margin: 0 auto;
    display: block;
    margin-top: 30px;
}

.nav-link--login:hover {
    background-color: rgb(72, 159, 217);
    color: white!important;
}

.nav-link--register {
    cursor: pointer;
    margin-top: 11px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 15px!important;
    padding-right: 15px!important;
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: rgb(72, 159, 217);
    border-right-style: solid;
    border-right-width: 2px;
    border-right-color: rgb(72, 159, 217);
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: rgb(72, 159, 217);
    border-left-style: solid;
    border-left-width: 2px;
    border-left-color: rgb(72, 159, 217);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: none;
    transform: translate(0px, 0px);
    transition-property: all;
    transition-duration: 300ms;
    transition-timing-function: ease;
    color: rgb(72, 159, 217)!important;
    margin-left: 17px;
    border-color: #76c5fa;
    background-color: #76c5fa;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    -webkit-transition: color 300ms ease, background-color 300ms ease;
    transition: color 300ms ease, background-color 300ms ease;
    color: #fff!important;
    min-width: 250px;
    margin: 0 auto;
    display: block;
    margin-top: 10px;
}

.nav-link--register:hover {
    background-color: rgb(72, 159, 217);
    color: white!important;
    border-color: #8fcffa;
}



.form-control-feedback {
    margin-top: 10px;
}