<div class="card">
  <img src="http://ufoid.net/storage/b3a5/d19d/21e3/2045/thumbs-1.jpg" class="img class=card-img-top img-fluid">
  <div class="card-block">
    <h5 class="card-title">Bright object plus another lower, dark, fast flying object </h5>

    <ul class="list-group">
      <li class="list-group-item">
          <span>
            <i class="fa fa-map-marker"></i>
            London, UK
          </span>
      </li>
      <li class="list-group-item">
          <span>
          <i class="fa fa-user"></i>
          luckyPhil
          </span>
      </li>
      <li class="list-group-item">
          <span>
          <i class="fa fa-comments-o"></i>
            5 comments
          </span>
      </li>
    </ul>
  </div>
</div>
