<div class="card">
  <a [routerLink]="['/ufo-videos', videoPost.id, videoPost.link]" (click)="onClick(videoPost)">
    <img src="{{API_URL}}files/{{videoPost.id}}/thumbs.jpg" class="img class=card-img-top img-fluid">
    <div class="card-block">
      <h5 class="card-title">
        <a routerLink="/ufo-videos/{{videoPost.id}}/edit"><i *ngIf="displayEditIcon" class="fa fa-pencil"></i></a>
        {{videoPost.videoTitle}}
      </h5>
      <ul class="list-group">
        <li class="list-group-item">
          <i class="fa fa-question-circle-o"></i>
          <div class="container">
            <div class="progress">
              <div *ngIf="videoPost.yesOpinionPercentage > 0" class="bg-success text-white progress-bar" [ngStyle]="{'width': videoPost.yesOpinionPercentage + '%'}">{{videoPost.yesOpinionPercentage}}%</div>
              <div *ngIf="videoPost.yesOpinionPercentage < 100" class="bg-danger text-white progress-bar" [ngStyle]="{'width': 100-videoPost.yesOpinionPercentage + '%'}">{{100-videoPost.yesOpinionPercentage}}%</div>
            </div>
          </div>
        </li>
        <li class="list-group-item">
              <span class="location-text">
                <i class="fa fa-map-marker fa--padding"></i>
                {{videoPost.locationName}}
              </span>
        </li>
        <li class="list-group-item">
              <span>
                <i class="fa fa-calendar fa--padding"></i>
                {{videoPost.recordingDate | date:'medium'}}
              </span>
        </li>
        <li class="list-group-item">
              <span>
              <i class="fa fa-user fa--padding"></i>
              {{videoPost.user}}
              </span>
        </li>
        <li class="list-group-item">
              <span>
              <i class="fa fa-comments-o fa--padding"></i>
                {{videoPost.numberOfOpinions}} comments
              </span>
        </li>
      </ul>
    </div>
  </a>
</div>
