<div class="card">
  <a [routerLink]="['/ufo-videos', videoPost.id, videoPost.link]" (click)="onClick(videoPost)">
    <img src="http://localhost:8080/api/files/{{videoPost.id}}/thumbs.jpg" class="img class=card-img-top img-fluid">
    <div class="card-block">
      <h5 class="card-title">{{videoPost.title}}</h5>
      <ul class="list-group">
        <li class="list-group-item">
              <span>
                <i class="fa fa-map-marker"></i>
                {{videoPost.location}}
              </span>
        </li>
        <li class="list-group-item">
              <span>
                <i class="fa fa-calendar"></i>
                {{videoPost.recordingDate | date:'medium'}}
              </span>
        </li>
        <li class="list-group-item">
              <span>
              <i class="fa fa-user"></i>
              {{videoPost.user}}
              </span>
        </li>
        <li class="list-group-item">
              <span>
              <i class="fa fa-comments-o"></i>
                {{videoPost.numberOfComments}} comments
              </span>
        </li>
      </ul>
    </div>
  </a>
</div>
