<app-titlebar [title]="'Reset your password'"></app-titlebar>
<section class="login">
  <div class="container">
    <div class="row login-wrapper">
      <h2 class="login__title blue-title">Enter your email and we'll send you a reset link</h2>
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <form (ngSubmit)="sendEmail(f)" #f="ngForm">
          <div class="form-group">
            <label for="email">E-Mail</label>
            <input type="email" id="email" name="email" ngModel class="form-control">
          </div>
          <button class="nav-link--login" type="submit">Send Password Reset Link</button>
          <div class="form-control-feedback">
            <div *ngIf="emailIsSent" class="alert alert-success" role="alert">Password reset link was sent to the email address</div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
