.login {
  padding: 70px 0;
}

.login-wrapper {
  flex-direction: column;
  align-items: center;
}
.form-control-feedback {
  margin-top: 10px;
}
.nav-link--login {
  margin-top: 11px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 2px solid rgb(72, 159, 217);
  border-radius: 3px;
  box-shadow: none;
  transform: translate(0px, 0px);
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: ease;
  color: rgb(72, 159, 217)!important;
  cursor: pointer;
  background-color: transparent;
  min-width: 220px;
  display: block;
  margin-top: 30px;
}

.nav-link--login:hover {
  background-color: rgb(72, 159, 217);
  color: white!important;
}

.blue-title {
    color: rgb(72, 159, 217);
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 60px;
    text-align: left;
}

.email-label {
  margin-bottom: 10px;
  font-size: 24px;
}

.email-input {
    border: 0;
    border-bottom: 2px solid rgb(72, 159, 217);
    border-radius: inherit;
    padding-left: 0;
    max-width: 350px;
    margin-bottom: 50px;
}