<div class="container">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <form (ngSubmit)="onSignUp(f)" #f="ngForm">
      <div class="form-group">
        <label for="email">E-Mail</label>
        <input type="email" id="email" name="email" ngModel class="form-control">
      </div>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="username" id="username" name="username" ngModel class="form-control">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" ngModel class="form-control">
      </div>
      <button class="btn btn-primary" type="submit">Sign Up</button>
      <div class="form-control-feedback">
        <div *ngIf="signUpSuccess" class="alert alert-success" role="alert">Account created successfully! You can <a routerLink="../login">log in</a> now</div>
        <div *ngIf="existingLoginError" class="alert alert-danger" role="alert">Username or Email is already register. <a routerLink="../login">log in</a> or create a new account</div>
        <div *ngIf="otherError" class="alert alert-danger" role="alert">Something went wrong. Contact the admin if the error persists</div>
      </div>
    </form>
  </div>
</div>
