<app-titlebar [title]="'Enter your new password'"></app-titlebar>
<section class="login">
  <div class="container">
    <div class="row login-wrapper">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <form (ngSubmit)="changePassword(f)" #f="ngForm">
          <div class="form-group">
            <label for="password" class="blue-title">Password</label>
            <input type="password" id="password" name="password" ngModel class="form-control password-input">
          </div>
          <button class="nav-link--login" type="submit">Change Password</button>
          <div class="form-control-feedback">
            <div *ngIf="passwordIsChanged" class="alert alert-success" role="alert">Password was changed. Please log in now</div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
