<div class="card-columns">
  <app-video-post></app-video-post>
  <app-video-post></app-video-post>
  <app-video-post></app-video-post>
  <app-video-post></app-video-post>
  <app-video-post></app-video-post>
  <app-video-post></app-video-post>
  <app-video-post></app-video-post>
  <app-video-post></app-video-post>
  <app-video-post></app-video-post>
  <app-video-post></app-video-post>
  <app-video-post></app-video-post>
  <app-video-post></app-video-post>
  <app-video-post></app-video-post>
  <app-video-post></app-video-post>
  <app-video-post></app-video-post>
  <app-video-post></app-video-post>
  <app-video-post></app-video-post>
  <app-video-post></app-video-post>
</div>
