<section class="about-ufoid">
  <div class="container">
    <div class="row">
      <div class="col-md-6 ufoid-description">
        <h2 class="ufoid-description__title">A new way to collect and analyze UFO videos</h2>
        <p class="ufoid-description__text">We can have a much more great footage if we change the way we look for UFO's. The UFO Detector program allows anyone to monitor the skies day and night for unidentifiable objects. All you need is a computer with a USB camera.</p>
        <ul class="ufoid-description__list">
          <li class="ufoid-description__item"><a href="#" class="ufoid-description__link ufoid-description__link--signup">Sign Up</a></li>
          <li class="ufoid-description__item"><a href="#" class="ufoid-description__link ufoid-description__link--learn">Learn More</a></li>
        </ul>
      </div>
      <div class="col-md-6 ufoid-image">
        <img src="../../assets/ufoid-img.png" alt="ufon-img" class="ufoid-img">
      </div>
    </div>
  </div>
</section>
<section class="introducing">
  <div class="container">
    <div class="row">
      <div class="col-md-12 introducing-wrapper">
        <h2 class="introducing__title">Introducing the UFO Detector</h2>
        <span class="introducing__description">Changing the way we collect UFO footage</span>
        <iframe width="560" height="315" class="introducing__video" src="https://www.youtube.com/embed/Jai15P4kuug" frameborder="0" allowfullscreen></iframe>
        <span class="introducing__description-video">The UFO Detector is a free software that allows anyone to monitor the sky for UFOs day and night. If a UFO is detected the software automatically records a video of the event in the best possible quality.</span>
      </div>
    </div>
  </div>
</section>
<section class="download triangle"> 
  <div class="container">
    <div class="row download-wrapper">
      <span class="download__description">Find out more and download the UFO Detector here</span>
      <a href="#" class="download__button">Download Now</a>
    </div>
  </div>
</section>
<section class="analyze">
  <div class="container">
    <div class="row analyze-wrapper">
      <h2 class="analyze__title blue-title">Analyze detected objects</h2>
      <span class="analyze__description">UFOID provides a platform to share the recorded videos and have them analyzed by other people. Whether you are a believer or a skeptic your opinion matters and is used to identify the objects.</span>
      <div class="col-md-3 analyze-item">
        <img src="../../assets/connection.png" alt="connection" class="analyze-item__image">
        <h3 class="analyze-item__title">Share the recorded video</h3>
        <span class="analyze-item__description">Captured something interesting with the UFO Detector? Upload it within the software with one click</span>
      </div>
      <div class="col-md-3 analyze-item">
        <img src="../../assets/note.png" alt="connection" class="analyze-item__image">
        <h3 class="analyze-item__title">Share the recorded video</h3>
        <span class="analyze-item__description">Captured something interesting with the UFO Detector? Upload it within the software with one click</span>
      </div>
      <div class="col-md-3 analyze-item">
        <img src="../../assets/interface.png" alt="connection" class="analyze-item__image">
        <h3 class="analyze-item__title">Share the recorded video</h3>
        <span class="analyze-item__description">Captured something interesting with the UFO Detector? Upload it within the software with one click</span>
      </div>
      <div class="col-md-3 analyze-item">
        <img src="../../assets/people.png" alt="connection" class="analyze-item__image">
        <h3 class="analyze-item__title">Share the recorded video</h3>
        <span class="analyze-item__description">Captured something interesting with the UFO Detector? Upload it within the software with one click</span>
      </div>
    </div>
  </div>
</section>
<section class="download triangle"> 
  <div class="container">
    <div class="row download-wrapper">
      <span class="download__description">Sign up to share your videos and leave your opinion</span>
      <a href="#" class="download__button">Watch the captured videos</a>
    </div>
  </div>
</section>
<section class="goals">
  <div class="container">
    <div class="row goals-wrapper">
      <h2 class="goals__title blue-title">Goals</h2>
      <div class="row goals-row">
        <div class="col-md-4 goals-item">
          <img src="../../assets/technology.png" alt="tech" class="goals-item__image">
          <h3 class="goals-item__title">Detect candidate objects</h3>
          <span class="goals-item__description">The UFO Detector uses an algorithm that looks for light emitting objects which cannot be identified as a known object</span>
        </div>
        <div class="col-md-4 goals-item">
          <img src="../../assets/black222.ico" alt="tech" class="goals-item__image">
          <h3 class="goals-item__title">Record detected objects</h3>
          <span class="goals-item__description">All captured videos are recorded using lossless encoding which provides the best possible video quality from your webcam</span>
        </div>
        <div class="col-md-4 goals-item">
          <img src="../../assets/monitor.png" alt="tech" class="goals-item__image">
          <h3 class="goals-item__title">Analyzing platform</h3>
          <span class="goals-item__description">The software is connected to a dedicated platform to share the recorded videos. The community is able to rate, analyse and discuss the videos in a professional way</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 goals-item">
          <img src="../../assets/console.png" alt="tech" class="goals-item__image">
          <h3 class="goals-item__title">Open Source</h3>
          <span class="goals-item__description">The full source code of the UFO Detector is available online. Be a part of the development and help us improve the software further</span>
        </div>
        <div class="col-md-4 goals-item">
          <img src="../../assets/system.png" alt="tech" class="goals-item__image">
          <h3 class="goals-item__title">Coming: Cross-platform support</h3>
          <span class="goals-item__description">We aim to make the software work on any platform whether it is Windows, OSX or Linux. Raspberry Pi is a top priority</span>
        </div>
        <div class="col-md-4 goals-item">
          <img src="../../assets/media.png" alt="tech" class="goals-item__image">
          <h3 class="goals-item__title">Coming: Prevent manipulation of videos</h3>
          <span class="goals-item__description">The goal is to creat a secure file format where we can guarantee that the video is exactly how it was recorded from the webcam and has not been manipulated</span>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="free triangle"> 
  <div class="container">
    <div class="row download-wrapper">
      <h2 class="free__title">Free and Open Source</h2>
      <span class="free__description">We aim to expand this project while keeping all parts of it free of charge. Help us grow the platform and improve the UFO Detector by donating via PayPal or Bitcoin.</span>
      <ul class="free__list">
        <li class="free__item"><a href="#" class="free__link"><img src="../../assets/paypal.png" alt="paypal" class="free__image"></a></li>
        <li class="free__item"><a href="#" class="free__link"><img src="../../assets/bitcoindonate.png" alt="bitcoin" class="free__image"></a></li>
      </ul>
    </div>
  </div>
</section>