<section class="about-ufoid">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="blue-title"><i class="fa fa-user"></i> {{username}}</h2>
        <p class="blue-title user-reputation" tooltip="User reputation"
           [tooltipDisabled]="false"
           [tooltipAnimation]="true"
           tooltipPlacement="bottom"><i class="fa fa-star"></i> {{reputation}}</p>
      </div>
      </div>
    </div>
</section>
<div class="contributions">
  <h4 class="contributions-text">Contributed videos</h4>
</div>
<app-video-list *ngIf="videoPosts" [userVideos]="videoPosts" [fromUser]="true"></app-video-list>
